<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alex700.AWeather" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.alex700.AWeather.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.alex700.AWeather.WeatherContentProvider"
            android:authorities="com.alex700.AWeather.WeatherContentProvider"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <service android:name="com.alex700.AWeather.WeatherLoaderService" android:enabled="true"/>
        <service android:name="com.alex700.AWeather.CityGetNameService" android:enabled="true" />
        <service android:name="com.alex700.AWeather.UpdateAllService" android:enabled="true" />

        <activity
            android:name="com.alex700.AWeather.AddCityActivity"
            android:label="@string/title_activity_add_city" >
        </activity>
    </application>

</manifest>
