<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.ifmo.md.lesson8" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="weather"
        android:theme="@style/AppTheme" >
        <service android:name="ru.ifmo.md.lesson8.data.WeatherService" />

        <provider
            android:name="ru.ifmo.md.lesson8.data.WeatherContentProvider"
            android:authorities="ru.ifmo.lesson8.provider.WeatherContentProvider" />

        <activity
            android:name="ru.ifmo.md.lesson8.WeatherMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
